<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand active" ui-sref="home">Amazing Website</a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="users">Users</a></li>
      <li ui-sref-active="active"><a ui-sref="customers">Customers</a></li>
      <li ui-sref-active="active"><a ui-sref="countries">Countries</a></li>
      <li ui-sref-active="active"><a ui-sref="resources">Resources</a></li>
      <li ui-sref-active="active"><a ui-sref="custom-request">Custom Request</a></li>
    </ul>
  </div>
</nav>