<div class="container">
<h1>COUNTRIES</h1>
  <table class="table table-hover table-bordered" style="width:30%">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Code</th>
        <th class="text-center">Id</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="country in countries">
        <td style="width:20%" class="text-center">{{country.name}}</td>
        <td style="width:20%" class="text-center">{{country.code}}</td>
        <td style="width:20%" class="text-center">{{country._id}}</td>
      </tr>
    </tbody>
  </table>
</div>