<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, Allan!</h1>
    <p>This is a simple SPA you have asked for...</p>
</div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All Customers</h3>
    </div>
    <div class="panel-body">
      Here you can get <a ui-sref="customers">all customers</a> ....
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All Users</h3>
    </div>
    <div class="panel-body">
      Here you can get <a ui-sref="users">all users</a> ....
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All Countries</h3>
    </div>
    <div class="panel-body">
      Here you can get <a ui-sref="countries">all countries</a> ....
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All Resources</h3>
    </div>
    <div class="panel-body">
       Here you can get <a ui-sref="resources">all resources</a> ....
    </div>
  </div>
</div>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Custom resources</h3>
    </div>
    <div class="panel-body">
      Here you can make a <a ui-sref="custom-request">custom Request</a> ....
      <br>
      For example <em>'api/resources ? users=api/users & customer=api/customers/23 & countries=api/countries'</em>
    </div>
  </div>
</div>

